.card{
    margin: 0 auto;
    border-radius: 12px;
    max-width: 960px;
<<<<<<< HEAD
=======
}
p1 {
font-family: 'Courier New', Courier, monospace;
font-size: 15px;
}

h {
    font-size: 10px;
>>>>>>> 5f82decb629f9a50202d0c210ba307f8f8935c62
}